<template>
    <v-container>
        <!--TODO DISPLAY AN ALERT TO ENCOURAGE PREMIUM IF ITS A TRIAL VERSION -->
        <!--TODO CHECK FOR EMAIL CONFIRMATION-->
        <h1>Hello here</h1>
    </v-container>
</template>

<script>
    export default {
        name: "Dashboard"
    }
</script>

<style scoped>

</style>