<template>
    <div>
        <v-app>
            <Nav :title="title"/>

            <router-view style="{position: relative}"></router-view>

            <v-footer padless absolute>
                <v-col
                        class="text-center"
                        cols="12"
                >
                    {{ new Date().getFullYear() }} — <strong>PamBoafo</strong>
                </v-col>
            </v-footer>
        </v-app>


    </div>


</template>

<script>
    import Nav from './Nav'
    export default {
        name: "App",
        components: {Nav},

        mounted() {

        },
        created(){
            this.title = this.$route.meta.title
        },
        data () {
            return {
                title:''
            }
        },
        watch:{
            $route(to, from){
                this.title = to.meta.title
            },
            title(){
                document.title = this.title + ' | PamBoafo'
            }
        }
    }
</script>
