<template>
    <v-dialog v-model="dialogConfirm" persistent max-width="290">
        <v-card :loading="loading">
            <v-card-title class="headline">Delete this {{ item }}?</v-card-title>

            <v-card-text>
                Are you sure you want to delete this {{ item }}?
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                        color="green darken-1"
                        text
                        @click="closeDialog"
                >
                    Cancel
                </v-btn>

                <v-btn
                        color="green darken-1"
                        text
                        @click="confirmedDeleteItem "
                >
                    Delete
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "ConfirmDialog",

        props:{
            item:String,
            deleteEndpoint: String,
            dialogConfirm: Boolean
        },

        data () {
            return {
                dialog: this.dialogConfirm,
                loading:false
            }
        },

        methods:{
            confirmedDeleteItem(){
                alert('deleting')
                this.loading = true
                this.dialogConfirm = false
                // this.$emit('confirmedDelete')
            },
            closeDialog(){
                alert('cancelling')
                // this.$emit('closeDialog')
                this.dialogConfirmlog = false
            }
        }
    }
</script>

<style scoped>

</style>