<template>
    <v-btn

            dark
            fab
            bottom
            fixed
            right
            color="pink"
            @click="addNewItem"
    >
        <v-icon>{{icon}}</v-icon>
    </v-btn>
</template>

<script>
    export default {
        name: "Fab",

        props:['icon'],

        methods:{
            addNewItem(){
                this.$emit('createItem')
            }
        }
    }
</script>

<style scoped>

</style>