<template>
    <v-container>
        <!--<transition-group name="scale-transition">-->
            <v-list three-line>
                <v-subheader v-text="new Date(Date.now()).toLocaleString()"></v-subheader>
                <span v-if="customers.length === 0">No customer added yet.</span>
                <template v-for="(customer, index) in customers.data">
                    <v-skeleton-loader
                            :loading="loading"
                            height="94"
                            type="list-item-avatar-two-line"
                    >
                        <v-divider :inset="true"></v-divider>
                        <v-list-item :key="index" @click="showCustomer(customer.id)">

                            <UserIcon :name="customer.first_name+' '+ customer.last_name"/>

                            <v-list-item-content>
                                <v-list-item-title v-text="customer.first_name + ' ' + customer.middle_name  + ' '+ customer.last_name"></v-list-item-title>
                                <v-list-item-subtitle v-text="customer.phone_number"></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-skeleton-loader>
                </template>
            </v-list>
        <!--</transition-group>-->
        <div class="text-center">
            <v-pagination v-model="currentPage" :length="customers.last_page" @input="onPageChange" circle></v-pagination>
        </div>
    </v-container>
</template>

<script>
    import UserIcon from './UserIcon'
    export default {
        props:['name','link'],

        components:{
            UserIcon
        },

        mounted(){
            this.loadCustomers()
        },

        data(){
            return {
                loading:true,
                customers:[],
                currentPage:1,
                totalPages:1,
            }
        },

        methods:{
            loadCustomers(){
                axios.get(this.link+'?page='+this.currentPage).then(response => {
                    this.customers = response.data.customers
                    this.loading = false
                    this.totalPages = response.data.customers.last_page
                    this.currentPage = response.data.customers.current_page
                }).catch(e => {
                    console.log(e)
                })
            },
            showCustomer(id){
                this.$router.push({name: 'customer',params:{customer:id}})
            },

            onPageChange(){
                this.loadingCustomers = true
                this.loadCustomers()
            }
        },

    }
</script>