<template>
    <div>
        <v-speed-dial
                v-model="multiFab"
                bottom
                fixed
                right
                direction="top"
                transition="slide-y-reverse-transition"
        >
            <template v-slot:activator>
                <v-btn
                        v-model="multiFab"
                        color="blue darken-2"
                        dark
                        fab
                >
                    <v-icon v-if="multiFab">mdi-close</v-icon>
                    <v-icon v-else>{{mainIcon}}</v-icon>
                </v-btn>
            </template>
            <v-btn
                    fab
                    dark
                    small
                    color="green"
            >
                <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn
                    fab
                    dark
                    small
                    color="indigo"
                    v-show="showAdd"
            >
                <v-icon @click="dialogAdd = true">mdi-plus</v-icon>
            </v-btn>
            <v-btn
                    fab
                    dark
                    small
                    color="red"
                    v-show="showDelete"
            >
                <v-icon @click="dialogConfirm = true">mdi-delete</v-icon>

            </v-btn>

        </v-speed-dial>
        <!--<ConfirmDialog item="customer" :dialog-confirm="dialogConfirm"/>-->

        <v-dialog v-model="dialogConfirm" max-width="300">
            <v-card :loading="loadingDelete">
                <v-card-title class="headline">Delete this customer?</v-card-title>

                <v-card-text>
                    Deleting this customer will permanently remove all data about them.
                    <br>Do you want to proceed?
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="green darken-1" text @click="dialogConfirm = false">
                        No
                    </v-btn>

                    <v-btn color="green darken-1" text @click="deleteItem">
                        Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <MeasurementForm :measurement-dialog="dialogAdd"/>
    </div>



</template>

<script>
    import ConfirmDialog from '../components/ConfirmDialog'
    import MeasurementForm from '../views/customers/MeasurementForm'
    export default {
        name: "MultiActionFab",

        props:{
            mainIcon:String,
            addEndpoint: String,
            editEndpoint: String,
            deleteEndpoint: String,
            redirectEndpoint:String,
            showAdd: Boolean,
            showDelete: Boolean,
        },

        components:{
            ConfirmDialog,
            MeasurementForm
        },

        data(){
            return{
                dialogConfirm:false,
                dialogAdd:false,
                loadingDelete: false,
                multiFab: false,

            }
        },

        methods:{
            deleteItem(){
                // alert('hello')
                this.loadingDelete = true
                axios.delete(this.deleteEndpoint)
                    .then(response => {
                        window.location.replace(this.redirectEndpoint)
                    }).catch(e=>{
                        console.log(e)
                        this.loadingDelete = false
                })
            }
        }
    }
</script>

<style scoped>

</style>