<template>
    <v-container>
        <v-card
                color="lighten-4"
                flat
                tile
        >
            <v-toolbar dense>
                <v-app-bar-nav-icon @click="toggleNav"></v-app-bar-nav-icon>


                <v-toolbar-title>{{title}}</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-btn icon>
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
            </v-toolbar>
        </v-card>
        <v-navigation-drawer
                v-model="drawer"
                :color="color"
                :expand-on-hover="expandOnHover"
                :mini-variant="miniVariant"
                :right="right"
                :permanent="permanent"
                :src="bg"
                absolute
                dark
                :clipped="true"
        >
            <v-list
                    dense
                    nav
                    class="py-0"
            >
                <v-list-item two-line :class="miniVariant && 'px-0'">
                    <v-list-item-avatar>
                        <img src="https://randomuser.me/api/portraits/men/81.jpg">
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title>PamBoafo</v-list-item-title>
                        <v-list-item-subtitle>The designer's help</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>

                <v-list-item
                        v-for="item in items"
                        :key="item.title"
                        @click="$router.push({name:item.route})"
                        link
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>

                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </v-container>
</template>

<script>
    export default {
        name:'SideNav',

        props:['title'],

        data () {

            return {
                drawer: true,
                items: [
                    { title: 'Dashboard', icon: 'mdi-view-dashboard',route:'dashboard' },
                    { title: 'Customers', icon: 'mdi-account-outline',route:'customers' },
                    { title: 'Measurements', icon: 'mdi-note-plus-outline', route:'measurements' },
                    { title: 'Logout', icon: 'mdi-login-variant', route:'logout' },
                ],
                color: 'teal',
                colors: [
                    'primary',
                    'blue',
                    'success',
                    'red',
                    'teal',
                ],
                right: false,
                permanent: false,
                miniVariant: false,
                expandOnHover: true,
                background: false,
            }
        },
        methods:{
            toggleNav(){
                this.drawer = !this.drawer
            }
        },
        computed: {
            bg () {
                return this.background ? 'https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg' : undefined
            },
        },
    }
</script>