<template>
    <v-container>
        <v-sheet
                :color="`grey ${theme.isDark ? 'darken-2' : 'lighten-4'}`"
                class="px-3 pt-3 pb-12"
        >
            <v-responsive class="mx-auto">
                <v-skeleton-loader
                        ref="skeleton"
                        :boilerplate="boilerplate"
                        :type="type"
                        :tile="tile"
                        class="mx-auto"
                ></v-skeleton-loader>
            </v-responsive>
        </v-sheet>
    </v-container>

</template>

<script>
    export default {
        name:'SkeletonLoader',
        // used to determine dark
        inject: ['theme'],

        data(){
            return{
                boilerplate: false,
                tile: false,
                type: 'list-item-avatar-three-line',
            }
        },

    }
</script>