<template>
    <v-snackbar
            v-model="snackbar"
            bottom
            right
    >
        {{ message }}

        <template v-slot:action="{ attrs }">
            <v-btn
                    color="teal"
                    text
                    v-bind="attrs"
                    @click="closeSnackbar"
            >
                Close
            </v-btn>
        </template>
    </v-snackbar>
</template>

<script>
    export default {
        name: "Snackbar",

        props:['message','snackbar'],

        // data(){
        //     return{
        //         snackbar: false
        //     }
        // },

        methods:{
            closeSnackbar(){
                this.$emit('close')
            }
        }
    }
</script>

<style scoped>

</style>