<template>
    <v-avatar color="teal" class="m-md-3 m-2" size="42">
        <span class="white--text headline">{{userIcon}}</span>
    </v-avatar>
</template>

<script>
    export default {
        name: "UserIcon",

        props: ['name'],

        computed:{
            userIcon: function(){
                return this.name.match(/[A-Z]/g).slice(0,2).join('')
            },
        }
    }
</script>

<style scoped>

</style>