<template>
    <v-app>

        <v-card width="400" class="mx-auto mt-5" :loading="loading" rounded>
            <v-card-title class="justify-center">
                <h3>Which Email Did You Register With?</h3>
            </v-card-title>
            <v-card-text>
                <v-form>
                    <v-text-field type="email" label="Email" v-model="form.email" hint="eg. you@example.com" prepend-icon="mdi-email" required>
                    </v-text-field>
                    <v-card-actions class="mt-5">
                        <v-row>
                            <v-col cols="12" class="d-flex justify-end">
                                <v-btn @click="sendLink" color="teal"
                                       class="text-white">Send Password Reset Link</v-btn>
                            </v-col>
                        </v-row>

                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-app>
</template>

<script>
    export default {
        name: "ForgotPassword",

        data(){
            return{
                form:{
                    email:''
                }
            }
        },

        methods:{
            sendLink(){

            }
        }
    }
</script>

<style scoped>

</style>