<template>
    <v-app>

       <v-card width="400" class="mx-auto mt-5" :loading="loading" rounded>
            <v-card-title class="justify-center">
                <h3>Welcome Back</h3>
            </v-card-title>
            <v-card-text>
                <v-form>
                    <v-text-field type="email" label="Email" v-model="form.email" hint="eg. you@example.com" prepend-icon="mdi-email"
                                   :error-messages="form.errors['email']" required>
                    </v-text-field>
                    <v-text-field label="Password" v-model="form.password" :type="showPassword ? 'text' : 'password'" prepend-icon="mdi-lock"
                                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                  @click:append="showPassword = !showPassword" required>
                    </v-text-field>
                    <v-card-actions class="mt-5">
                        <v-row>
                            <v-col cols="12" class="d-flex justify-end">
                                <v-btn @click="login" color="teal"
                                       class="text-white">Login</v-btn>
                            </v-col>
                            <v-col cols="12" class="d-flex justify-center mt-2 text-primary">
                                <a :href="link" class="text-decoration-none">Forgot Password?</a>
                            </v-col>
                        </v-row>

                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-app>

</template>

<script>
    export default {
        name: "Login",

        props:['link'],

        data(){
            return{
                showPassword: false,
                loading: false,
                form:{
                    email:'',
                    password:'',
                    errors:[],
                }
            }
        },

        methods:{
            login(){
                this.loading = true
                axios.get('/sanctum/csrf-cookie').then(response=>{

                    axios.post('/login',{
                        email: this.form.email,
                        password: this.form.password
                    }).then(res => {
                        // this.$router.push('/dashboard')
                        window.location.replace('/dashboard')
                    }).catch(e =>{
                        console.log(e.response.data.errors)
                        this.loading = false
                        this.form.errors = e.response.data.errors
                    })
                })
            }
        }
    }
</script>

<style scoped>

</style>