<template>
    <v-app class="mt-5">
        <v-card width="400" class="mx-auto mt-5" rounded>

            <v-stepper v-model="e1">
                <v-stepper-header>
                    <v-stepper-step :complete="e1 > 1" step="1" color="teal">Basic Info</v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step :complete="e1 > 2" step="2" color="teal">Account Type</v-stepper-step>

                </v-stepper-header>

                <v-stepper-items>
                    <v-stepper-content step="1">
                        <v-card width="400" class="mx-auto mt-5" :loading="loading" rounded>
                            <v-card-title class="justify-center">
                                <h3>Start Here</h3>
                            </v-card-title>
                            <v-card-text>
                                <v-form>
                                    <v-text-field v-model="form.name" label="Full Name" hint="eg. Reuben Frimpong"
                                                  :error-messages="form.errors['name']" prepend-icon="mdi-account-circle">
                                    </v-text-field>
                                    <v-text-field v-model="form.company_name" label="Registered Company Name"
                                                  :error-messages="form.errors['company_name']" hint="eg. Pamboafo Fashion Shop" prepend-icon="mdi-office-building" >
                                    </v-text-field>
                                    <v-text-field type="email" label="Email" v-model="form.email"
                                                  :error-messages="form.errors['email']" hint="eg. you@example.com" prepend-icon="mdi-email">
                                    </v-text-field>
                                    <v-text-field label="Password" v-model="form.password" :type="showPassword ? 'text' : 'password'"  prepend-icon="mdi-lock"
                                                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                  :error-messages="form.errors['password']"
                                                  @click:append="showPassword = !showPassword">
                                    </v-text-field>
                                    <v-card-actions class="d-flex justify-end mt-5">
                                        <v-btn @click="signUp" color="teal" class="text-white">Continue</v-btn>
                                    </v-card-actions>
                                </v-form>
                            </v-card-text>
                        </v-card>

                    </v-stepper-content>

                    <v-stepper-content step="2">
                        <v-card class="mx-auto mt-5" width="400" :loading="loading" rounded>
                            <v-card-title class="justify-center">You are almost done. Choose A Plan</v-card-title>
                            <v-card-text>
                                <p class="text-center" v-if="form.subscription==='1'">This is a trial version and will last for only <b>90 days</b>. You will still have access to your
                                    records if you upgrade within a month after the trial period expires.</p>
                                <p class="text-center" v-if="form.subscription==='2'">This package costs <b>GH&cent;50</b> and will be charged <b>monthly</b>.The money you pay to us will be used to
                                improve and maintain the system so as to give you a better experience on our platform.</p>
                                <div class="d-flex justify-center">

                                    <v-chip-group v-model="form.subscription" mandatory>
                                        <v-chip class="ma-2" color="warning" value="1" filter outlined>
                                            Trial
                                        </v-chip>
                                        <v-chip class="ma-2" color="success" value="2" filter outlined>
                                            Premium
                                        </v-chip>
                                    </v-chip-group>

                                </div>

                                <v-card-actions class="d-flex justify-end mt-5">
                                    <v-btn color="teal" class="text-white" @click="subscribe">Finish</v-btn>
                                </v-card-actions>

                            </v-card-text>

                        </v-card>
                    </v-stepper-content>

                </v-stepper-items>
            </v-stepper>
        </v-card>

    </v-app>

</template>

<script>
    export default {
        name: "Register",

        data(){
            return{
                showPassword: false,
                loading: false,
                e1:1,
                form:{
                    name:'',
                    email:'',
                    password:'',
                    company_name:'',
                    subscription:'2',
                    errors:[]

                }
            }
        },

        methods:{
            signUp(){
                this.loading = true
                axios.post('/register',this.form).then(response=>{
                    console.log(response)
                    this.e1 = 2
                    this.loading = false
                }).catch(e => {
                    this.loading = false
                    this.form.errors = e.response.data.errors
                    console.log(e)
                })
            },
            subscribe(){
                this.loading = true
                axios.patch('/api/subscription/update',this.form).then(response=>{

                    if(response.data.message === 'success'){
                        window.location.replace('/dashboard')
                    }
                }).then(response => {

                }).catch(e=>{
                    this.loading = false
                    console.log(e)
                })
            }
        }
    }
</script>

<style scoped>

</style>