<template>
    <v-dialog v-model="dialog" max-width="600px">
        <v-card :loading="loading">
            <v-card-title>
                <span class="headline">Add A New Customer</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="First name*" v-model="form.first_name"
                                          hint="eg. Reuben"
                                          :error-messages="errors['first_name']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Middle name" v-model="form.middle_name"
                                          hint="eg. Kofi" :error-messages="errors['middle_name']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                    label="Last name*"
                                    hint="eg. Frimpong"
                                    v-model="form.last_name"
                                    :error-messages="errors['last_name']"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-select
                                    v-model="form.gender"
                                    :items="gender"
                                    label="Gender*"
                                    :error-messages="errors['gender']">
                            </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                    label="Phone Number*"
                                    v-model="form.phone_number"
                                    hint="eg. 02XXXXXXXX"
                                    :error-messages="errors['phone_number']"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                    label="Alternate Phone Number"
                                    v-model="form.alternate_phone_number"
                                    hint="eg. 02XXXXXXXX"
                                    :error-messages="errors['alternate_phone_number']"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-menu
                                    ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                            v-model="form.birthday"
                                            label="Birthday date"
                                            readonly
                                            v-bind="attrs"
                                            :error-messages="errors['birthday']"
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                        ref="picker"
                                        v-model="form.birthday"
                                        :max="new Date().toISOString().substr(0, 10)"
                                        min="1950-01-01"
                                        @change="save"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12" md="8">
                            <v-text-field label="Email"
                                          v-model="form.email"
                                          :error-messages="errors['email']"
                                          hint="eg. example@gmail.com"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-text-field label="Location*"
                                          v-model="form.location"
                                          :error-messages="errors['location']"
                                          hint="eg. Sakumono" required></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-text-field label="GPS Address"
                                          v-model="form.gps_address"
                                          :error-messages="errors['gps_address']">

                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
                <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                <v-btn color="blue darken-1" text @click="createNewCustomer">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "AddForm",

        props:['dialog'],

        data(){
            return{
                snackbar: false,
                gender:['Male','Female'],
                date: null,
                menu: false,
                loading: false,
                errors:[],
                customers:[],
                form:{
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    gender:'',
                    phone_number:'',
                    alternate_phone_number:'',
                    birthday: null,
                    email:'',
                    location:'',
                    gps_address:''
                }
            }
        },

        methods:{
            createNewCustomer(){
                this.loading = true
                axios.get('/sanctum/csrf-cookie').then(res=>{
                    axios.post('/api/customers/store',this.form)
                        .then(response => {
                            this.loading = false
                            this.dialog = false
                            this.snackbar = true
                            window.location.replace('/customers')
                        }).catch(e => {
                        this.loading = false
                        this.errors = e.response.data.errors
                        console.log(e)
                    })
                })

            },
            closeDialog(){
                this.dialog = false
            },
            save (date) {
                this.$refs.menu.save(date)
            },
        },

        computed: {
            dateRangeText () {
                return this.date.join(' ~ ')
            },
        },
    }
</script>

<style scoped>

</style>