<template>
    <v-card class="mx-auto mt-5" max-width="500" tile v-if="customer">
        <v-skeleton-loader
                :loading="loading"
                height="94"
                type="list-item-avatar-two-line"
        >
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.first_name}}</v-list-item-title>
                    <v-list-item-subtitle>First Name</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.middle_name || 'N/A'}}</v-list-item-title>
                    <v-list-item-subtitle>
                        Middle Name
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.last_name}}</v-list-item-title>
                    <v-list-item-subtitle>
                        Last Name
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.gender}}</v-list-item-title>
                    <v-list-item-subtitle>
                        Gender
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.phone_number}}</v-list-item-title>
                    <v-list-item-subtitle>
                        Phone Number
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.alternate_phone_number || 'N/A'}}</v-list-item-title>
                    <v-list-item-subtitle>
                        Alternate Phone Number
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.email || 'N/A'}}</v-list-item-title>
                    <v-list-item-subtitle>
                        Email
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.birthday || 'N/A'}}</v-list-item-title>
                    <v-list-item-subtitle>
                        Birthday
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title>{{customer.location}}</v-list-item-title>
                    <v-list-item-subtitle>
                        Location
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
            <v-list-item-content>
                <v-list-item-title>{{customer.gps_address || 'N/A'}}</v-list-item-title>
                <v-list-item-subtitle>
                    GPS Address
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
      </v-skeleton-loader>
    </v-card>
</template>

<script>
    export default {
        name: "Details",

        mounted(){
            this.getCustomer()
        },

        data(){
          return{
              customer:null,
              loading: true,
          }
        },

        methods:{
            getCustomer(){
                axios.get(`/api/customers/${this.$route.params.customer}`)
                    .then(response=>{
                        this.customer = response.data.customer
                        localStorage.setItem('customer', JSON.stringify(this.customer))
                        this.loading = false
                    }).catch(e=>{
                        console.log(e)
                })
            }
        }



    }
</script>

<style scoped>

</style>