<template>
    <div style="position: relative; height: 100%">
        <v-container fluid>
            <List :link="'/api/customers'"/>
        </v-container>
        <Fab :icon="icon" @createItem="addNewCustomer"/>

        <v-row justify="center">
            <AddForm :dialog="dialog"/>
        </v-row>
        <Snackbar :snackbar="snackbar" message="New customer added" @close="closeSnackbar"/>

    </div>
</template>

<script>
    import List from '../../components/List'
    import Fab from '../../components/Fab'
    import Snackbar from '../../components/Snackbar'
    import AddForm from './AddForm'
    export default {
        name: "Customers",

        components:{
            List,
            Fab,
            Snackbar,
            AddForm
        },

        data(){
            return{
                icon:'mdi-account-multiple-plus',
                snackbar: false,
                dialog: false

            }
        },
        watch: {
            menu (val) {
                val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
            },
        },
        methods:{
             addNewCustomer(){
                this.dialog = true
            },

            closeSnackbar(){
                 this.snackbar = false
            }
        },

    }
</script>

<style scoped>

</style>