<template>
    <div style="position: relative; height: 100%">
        <v-container fluid>
            <v-card class="mx-auto mt-5" max-width="500" tile v-if="measurement">
                <v-skeleton-loader
                        :loading="loading"
                        height="94"
                        type="list-item-avatar-two-line"
                >
                    <v-list-item two-line v-if="customer.gender === 'Female'">
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.bust}}</v-list-item-title>
                            <v-list-item-subtitle>Bust</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.waist}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Waist
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item two-line v-if="customer.gender==='Female'">
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.shoulder_to_waist}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Shoulder to Waist
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item two-line v-if="customer.gender === 'Female'">
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.shoulder_to_nipple}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Shoulder to Nipple
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item two-line v-if="customer.gender==='Female'">
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.nipple_to_nipple}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Nipple to Nipple
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.across_back}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Alternate Phone Number
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.around_arm}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Around Arm
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line v-if="customer.gender === 'Female'">
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.dress_length}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Dress Length
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.sleeve_length}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Sleeve Length
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.top_length}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Top Length
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line v-if="customer.gender !== 'Female'">
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.chest}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Chest
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line v-if="customer.gender !== 'Female'">
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.neck}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Neck
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.thigh}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Thigh
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.knee}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Knee
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.bar}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Bar
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title>{{measurement.trousers_shorts_length}}</v-list-item-title>
                            <v-list-item-subtitle>
                                Trousers/Shorts Length
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-skeleton-loader>
            </v-card>
        </v-container>

    </div>

</template>

<script>
    import List from '../../components/List'
    import Fab from '../../components/Fab'


    export default {
        name: "Measurement",

        components:{
            List,
            Fab,
        },

        mounted(){
          this.getMeasurement()
        },

        data(){
            return{
                icon:'mdi-plus-thick',
                measureDialog: false,
                measurement: null,
                gender: null,
            }
        },

        methods:{
            getMeasurement(){
                this.customer = JSON.parse(localStorage.getItem('customer'))

                axios.get(`/api/measurements/show/${this.$route.params.customer}`)
                    .then(response=>{
                        this.measurement = response.data.measurement
                    }).catch(e=>{
                        console.log(e)
                })
            },
        }
    }
</script>

<style scoped>

</style>