<template>
    <v-dialog v-model="measurementDialog" max-width="600px">
        <v-card :loading="loading">
            <v-card-title>
                <span class="headline">Add <span v-if="customer">{{customer.first_name}}'s</span> Measurement(inch)</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4" v-if="customer && form.gender === 'Female'">
                            <v-text-field label="Bust*" v-model="form.bust"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['bust']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Waist*" v-model="form.waist"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['waist']">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="customer && form.gender === 'Female'">
                            <v-text-field
                                    label="Shoulder to Waist*"
                                    v-model="form.shoulder_to_waist"
                                    type="number"
                                    min="0"
                                    :error-messages="errors['shoulder_to_waist']"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="customer && form.gender === 'Female'">
                            <v-text-field
                                    v-model="form.shoulder_to_nipple"
                                    label="Shoulder to Nipple*"
                                    type="number"
                                    min="0"
                                    :error-messages="errors['shoulder_to_nipple']">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="customer && form.gender === 'Female'">
                            <v-text-field
                                    label="Nipple to Nipple*"
                                    v-model="form.nipple_to_nipple"
                                    type="number"
                                    :error-messages="errors['nipple_to_nipple']"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                    label="Across Back*"
                                    v-model="form.across_back"
                                    type="number"
                                    min="0"
                                    :error-messages="errors['across_back']"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Around Arm"
                                          v-model="form.around_arm"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['around_arm']"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="customer && form.gender === 'Female'">
                            <v-text-field label="Dress Length*"
                                          type="number"
                                          v-model="form.dress_length"
                                          min="0"
                                          :error-messages="errors['dress_length']"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Sleeve Length*"
                                          v-model="form.sleeve_length"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['sleeve_length']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Top Length*"
                                          v-model="form.top_length"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['top_length']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="customer && form.gender !== 'Female'">
                            <v-text-field label="Chest*"
                                          type="number"
                                          v-model="form.chest"
                                          min="0"
                                          :error-messages="errors['chest']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="customer && form.gender !== 'Female'">
                            <v-text-field label="Neck*"
                                          v-model="form.neck"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['neck']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Thigh*"
                                          v-model="form.thigh"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['thigh']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Knee*"
                                          v-model="form.knee"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['knee']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Bar*"
                                          v-model="form.bar"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['bar']">

                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Trousers/Shorts Length*"
                                          v-model="form.trousers_shorts_length"
                                          type="number"
                                          min="0"
                                          :error-messages="errors['trousers_shorts_length']">

                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
                <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="">Close</v-btn>
                <v-btn color="blue darken-1" text @click="addCustomerMeasurement">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "MeasurementForm",

        props:['measurementDialog','customerName'],

        mounted(){
            this.getCurrentlySelectedCustomer()
        },

        data(){
            return{
                loading:false,
                customer: null,
                measurement: null,
                errors:[],
                form:{
                    customer_id: 0,
                    gender:'',
                    bust:'',
                    waist:'',
                    shoulder_to_waist:'',
                    shoulder_to_nipple:'',
                    shoulder_to_under_bust:'',
                    nipple_to_nipple:'',
                    across_back:'',
                    around_arm:'',
                    dress_length:'',
                    sleeve_length:'',
                    top_length:'',
                    chest:'',
                    neck:'',
                    thigh:'',
                    knee:'',
                    bar:'',
                    trousers_shorts_length:'',
                },


            }
        },

        methods:{
            addCustomerMeasurement(){
                this.loading = true
                axios.get('/sanctum/csrf-cookie').then(res=>{
                    axios.post('/api/measurements/store',this.form)
                        .then(response => {
                            this.loading = false
                            window.location.replace('/customers/'+this.$route.params.customer)
                        }).catch(e => {
                        this.loading = false
                        this.errors = e.response.data.errors
                        console.log(e.response.data)
                    })
                })
            },
            getCurrentlySelectedCustomer(){
                this.customer = JSON.parse(localStorage.getItem('customer'))
                this.form.gender = this.customer.gender
                this.form.customer_id = this.customer.id
            }
        }
    }
</script>

<style scoped>

</style>