<template>
    <v-container class="mt-4">
        <v-tabs centered>
            <v-tab>Customer Info</v-tab>
            <v-tab>Measurement</v-tab>

            <v-tab-item>
                <Details/>
                <MultiActionFab main-icon="mdi-account-circle"
                                redirect-endpoint="/customers"
                                :show-delete="true"
                                :show-add="false"
                                :delete-endpoint="`/api/customers/${$route.params.customer}`"/>
            </v-tab-item>
            <v-tab-item>
                <Measurement/>
                <MultiActionFab main-icon="mdi-tape-measure"
                                :show-delete="false"
                                :show-add="true"/>
            </v-tab-item>
        </v-tabs>

    </v-container>
</template>

<script>
    import Details from './Details'
    import Measurement from './Measurement'
    import MultiActionFab from '../../components/MultiActionFab'
    export default {
        name: "Customer",

        components:{
            Details,
            Measurement,
            MultiActionFab
        },

        data(){
            return{

            }
        },
    }
</script>

<style scoped>

</style>